*.swp
*~
qrc_*
*.moc
*.o
*.pdb
ui_*
moc_*
*.pyc
/m2adapter/version.h
/m2adapter/Makefile
/m2adapter/conf.log
/m2adapter/conf.pri
/m2adapter/m2adapter
/m2adapter/src/Makefile
/proxy/version.h
/proxy/Makefile
/proxy/conf.log
/proxy/conf.pri
/proxy/pushpin-proxy
/proxy/src/pro/libpushpin-proxy/Makefile
/proxy/src/pro/pushpin-proxy/Makefile
/proxy/src/libpushpin-proxy.a
/proxy/tests/Makefile
/proxy/tests/pro/*/Makefile
/proxy/tests/*test
/handler/version.h
/handler/Makefile
/handler/conf.log
/handler/conf.pri
/handler/pushpin-handler
/handler/src/pro/libpushpin-handler/Makefile
/handler/src/pro/pushpin-handler/Makefile
/handler/src/libpushpin-handler.a
/handler/tests/Makefile
/handler/tests/pro/*/Makefile
/handler/tests/*test
/runner/run
/runner/log
/pushpin.inst
