*.swp
*~
qrc_*
*.moc
*.o
*.pdb
ui_*
moc_*
*.pyc
.qmake.stash
target_wrapper.sh
/target
**/*.rs.bk
vendor
.vscode
conf.pri

/pushpin
/pushpin-legacy
/bin/*
/src/runner/certs/*.crt
/src/runner/certs/*.key
/postbuild/Makefile
/postbuild/*.inst
/config
/run
/log
