*.swp
*~
qrc_*
*.moc
*.o
*.pdb
ui_*
moc_*
*.pyc
.qmake.stash
target_wrapper.sh
/target
**/*.rs.bk
.cargo
vendor
.vscode

/pushpin
/pushpin-legacy
/bin/*
/conf.log
/conf.pri
/Makefile
/src/config.h
/src/Makefile
/src/cpp/Makefile
/src/cpp/makedirs/Makefile
/src/cpp/cpp/Makefile
/src/cpp/tests/Makefile
/src/rust/Makefile
/src/runner/certs/*.crt
/src/runner/certs/*.key
/src/pushpin/Makefile
/src/pushpin/*.inst
/config
/run
/log
