[submodule "common"]
	path = src/corelib/common
	url = https://github.com/fanout/common.git
[submodule "qzmq"]
	path = src/corelib/qzmq
	url = https://github.com/jkarneges/qzmq.git
[submodule "condure"]
	path = condure
	url = https://github.com/fanout/condure
[submodule "zurl"]
	path = zurl
	url = https://github.com/deweerdt/zurl
