[proxy]
# list of connect PULL for receiving mongrel2 plain HTTP requests
m2_in_specs=tcp://127.0.0.1:9999,tcp://127.0.0.1:9997

# list of connect PULL for receiving mongrel2 HTTPS requests
m2_inhttps_specs=tcp://127.0.0.1:9995

# list of connect PUB for sending mongrel2 HTTP/HTTPS responses
m2_out_specs=tcp://127.0.0.1:9998

# list of connect PUSH for sending zurl HTTP requests
zurl_out_specs=tcp://127.0.0.1:5550

# list of connect ROUTER for continuing zurl HTTP requests
zurl_out_stream_specs=tcp://127.0.0.1:5551

# list of connect SUB for receiving zurl HTTP responses
zurl_in_specs=tcp://127.0.0.1:5552

# bind DEALER for requesting inspection info (internal, used with handler)
handler_inspect_spec=ipc:///tmp/pushpin-inspect

# bind PULL for receiving retry requests (internal, used with handler)
handler_retry_in_spec=ipc:///tmp/pushpin-retry

# bind PUSH for passing off requests (internal, used with handler)
handler_accept_out_spec=ipc:///tmp/pushpin-accept

# file of domain/origin mappings
domainsfile=domains.example


[handler]
# connect REP for responding with inspection info (internal, used with proxy)
proxy_inspect_spec=ipc:///tmp/pushpin-inspect

# connect PUSH for sending HTTP requests (internal, used with proxy)
proxy_retry_out_spec=ipc:///tmp/pushpin-retry

# connect PULL for receiving HTTP requests (internal, used with proxy)
proxy_accept_in_spec=ipc:///tmp/pushpin-accept

# list of connect PUB for sending mongrel2 HTTP/HTTPS responses
m2_out_specs=tcp://127.0.0.1:9998

# redis server to use for storing state
redis_host=127.0.0.1
redis_port=6379
redis_prefix=pushpin-

# bind PULL for receiving publish commands
push_in_spec=tcp://*:5560

# port to listen on for receiving publish commands via HTTP
push_in_http_port=5561
