[Unit]
Description=pushpin
After=network.target
Before=pushpin-socat.service
Requires=pushpin-socat.service

[Service]
Type=simple
Restart=always
CPUQuota=400%
LimitNOFILE=101000
MemoryLimit=40G
Environment=PATH=/opt/fst-pushpin/bin:/bin:/sbin:/usr/bin:/usr/sbin
ExecStartPre=/opt/fst-pushpin/bin/pushpin-iptables.sh apply
ExecStart=/opt/fst-pushpin/bin/pushpin.sh
ExecStopPost=/opt/fst-pushpin/bin/pushpin-iptables.sh rm

[Install]
WantedBy=multi-user.target
