[Unit]
Description=pushpin-loader

[Service]
Type=simple
Restart=always
ExecStart=/opt/fst-pushpin/bin/pushpin-loader --log-level 1 --loop 60 --output /opt/fst-pushpin/etc/pushpin/routes
