[Unit]
Description=pushpin-condure-out
PartOf=pushpin.service

[Service]
Type=simple
Restart=always
CPUQuota=100%
MemoryLimit=15G
LimitNOFILE=101000
SyslogIdentifier=pushpin-condure-out
# let 1% of the connections use up to 16 write blocks
ExecStart=/opt/fst-pushpin/bin/pushpin-sandbox.sh /opt/fst-pushpin/bin/condure --log-level=1 --zserver-stream=ipc:///var/run/pushpin/pushpin-condure-client --buffer-size=8192 --stream-maxconn=100100 --blocks-max=215200 --connection-blocks-max=17 --compression --deny-out-internal

[Install]
WantedBy=multi-user.target
