[Unit]
Description=pushpin

[Service]
Type=simple
Restart=always
CPUQuota=100%
LimitNOFILE=1000
MemoryLimit=5G
WorkingDirectory=/var/run/pushpin
User=pushpin
Environment=PATH=/opt/fst-pushpin/bin:$PATH
PrivateNetwork=true
PrivateTmp=true
PrivateIPC=true
PrivateDevices=true
ExecStart=/opt/fst-pushpin/bin/pushpin.sh
