[Unit]
Description=pushpin-condure-out
PartOf=pushpin.service

[Service]
Type=simple
Restart=always
CPUQuota=200%
MemoryLimit=17G
LimitNOFILE=101000
SyslogIdentifier=pushpin-condure-out
# let 1% of the connections use up to 8 write blocks
ExecStart=/opt/fst-pushpin/bin/pushpin-sandbox.sh /opt/fst-pushpin/bin/pushpin-condure --log-level=1 --zserver-stream=ipc:///var/run/pushpin/pushpin-condure-client --buffer-size=16384 --stream-maxconn=100100 --blocks-max=207207 --connection-blocks-max=9 --compression --deny-out-internal

[Install]
WantedBy=multi-user.target
