[Unit]
Description=pushpin-loader
PartOf=pushpin.service

[Service]
Type=simple
Restart=always
ExecStart=/opt/fst-pushpin/bin/pushpin-loader --log-level 1 --key /etc/pushpin/private/internal-api-key --loop 60 --output /opt/fst-pushpin/etc/pushpin/routes

[Install]
WantedBy=multi-user.target
