[General]
# list of mongrel2 handler send_spec
m2_in_specs=

# list of mongrel2 handler recv_spec
m2_out_specs=

# list of mongrel2 send_ident (per send_spec)
m2_send_idents=

# list of mongrel2 control specs (per send_ident)
m2_control_specs=

# set to true if zhttp specs should connect. else, bind.
#zhttp_connect=true

# zhttp in specs
zhttp_in_specs=

# zhttp out specs
zhttp_out_specs=

# zhttp out stream specs
zhttp_out_stream_specs=

# set to true if zws specs should connect. else, bind.
#zws_connect=true

# zws in specs
zws_in_specs=

# zws out specs
zws_out_specs=

# zws out stream specs
zws_out_stream_specs=

# useful for testing with zurl
#zhttp_connect_port=8080
#zws_connect_port=8080
#ignore_policies=true

# don't send more than this to mongrel2
m2_client_buffer=200000
